PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
YTDLP_PATH=yt-dlp
# Spotify Developer API (Free - https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=TU_SPOTIFY_CLIENT_ID
SPOTIFY_CLIENT_SECRET=TU_SPOTIFY_CLIENT_SECRET

